[run]
omit =
    taf_sc/__init__.py
    taf_sc/cli.py
    taf_sc/exceptions.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
